<footer>
<div class="site-footer">
      <div class="container">
        <div class="row">
          <div class="col-sm-3 col-xs-6">
            <div class="vertline"></div>
            <h3>Quick question</h3>
            <p>For a quick<br />question<br />WhatsApp <img src="/img/whatsapp.svg" style="display: inline; width: 35px; margin-top: -18px; margin-left: 20px; position: absolute;" /><br />us on<br />+31(0)620911951</p>
          </div>
          <div class="col-sm-3 col-xs-6">
            <div class="vertline"></div>
            <h3>About</h3>
            <p><a href="/about">About us</a><br />
            <a href="/blog">Blog</a><br />
            <a href="/privacy">Privacy policy</a><br />
            <a href="/algemene-voorwaarden">Voorwaarden</a></p>
          </div>
          <div style="clear: both" class="visible-xs"><br /></div>
          <div class="col-sm-3 col-xs-6">
            <div class="vertline"></div>
            <h3>Connect</h3>
            <p><a href="{{ site.data.settings.facebook_url }}" target="_blank" rel="noopener">Facebook</a><br />
            <a href="{{ site.data.settings.instagram_url }}" target="_blank" rel="noopener">Instagram</a><br />
            <a href="{{ site.data.settings.pinterest_url }}" target="_blank" rel="noopener">Pinterest</a><br />
            <a href="mailto:{{ site.data.settings.connect_email }}" target="_blank">Mail</a></p>
          </div>
          <div class="col-sm-3 col-xs-6">
            <div class="vertline"></div>
            <h3>Let's talk</h3>
            <p><a href="mailto:{{ site.data.settings.contact_new_bussiness }}" target="_blank">New business</a><br />
            <a href="mailto:{{ site.data.settings.contact_partnerships }}" target="_blank">Partnerships</a><br />
            <a href="mailto:{{ site.data.settings.contact_general }}" target="_blank">General</a></p>
          </div>
        </div>
      </div>
</div>
</footer>


{% include foot.html %}