<div class="container">
  <div class="row">
    <div class="col-md-12">
      <a id="fbtop" href="{{ site.data.settings.facebook_url }}" target="_blank" rel="noopener"><span class="hidden-xs hidden-sm">Supreme being </span><span class="orange">on | facebook</span></a>
      <div class="verttext" style="cursor: pointer;" onclick="window.open('{{ site.data.settings.instagram_url }}');">Follow us on instagram</div>
      <div class="vertline red fullheight"><div>Est. 2014</div><div>We will find our madness within your company</div></div>
            <button type="button" class="top navbar-toggle" style="display: block; position: absolute; z-index: 99;">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
    </div>
  </div>
</div>

<header class="site-header">
      <nav class="navbar navbar-default">
        <div class="container">


          <div class="navmenu navmenu-default navmenu-fixed-left offcanvas">
                <a class="navbar-brand" href="/" aria-label="To the homepage"><img src="/img/supremebeinglogo_reversed.svg" alt="Supreme Being logo" /></a>
                <ul class="nav navmenu-nav">
                        <li><a href="/about/">WHO</a></li>
                        <li><a href="/about/#what">WHAT</a></li>
                        <li><a href="/about/#why">WHY</a></li>
                        <li><a href="/work/">WORK</a></li>
                        <li><a href="/contact/">CONTACT</a></li>         
                        <li><a href="/blog/">BLOG</a></li>
                </ul>
          </div>


          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="offcanvas" data-target=".navmenu" aria-label="Toggle menu">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-center">
              <li class="{% if page.layout == 'who' %}active{% endif %}"><a href="/about/">WHO</a></li>
              <li{% if page.layout == 'craft' or page.layout == 'crafts' %} class="active"{% endif %}><a href="/about/#what">WHAT</a></li>
              <li><a href="/about/#why">WHY</a></li>
              <li><a class="navbar-brand" href="/" aria-label="To the homepage"><img src="/img/supremebeinglogo_reversed.svg" style="position: absolute;" alt="Supreme Being logo" /><img src="/img/supremebeinglogo.svg" alt="Supreme Being logo" /></a></li>
              <li{% if page.layout == 'portfolio' or page.layout == 'work' %} class="active"{% endif %}><a href="/work/">WORK</a></li>
              <li{% if page.layout == 'contact' %} class="active"{% endif %}><a href="/contact/">CONTACT</a></li>         
              <li{% if page.layout == 'blog' or page.layout == 'post' %} class="active"{% endif %}><a href="/blog/">BLOG</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div><!--/.container -->
      </nav>
</header>

{% if page.layout == 'who' %}
{% include carousel.html %}
{% else %}
{% include headerimage.html %}
{% endif %}