<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body class="work {% if page.header_reversed %}reversed{% endif %}" id="top">
    {% include header.html %}
        
    <div class="container" id="craft">

        <div class="row" style="margin: 0 -25px 0 3px!important;">
            <div class="col-md-12" style="margin-bottom: 15px;"><strong>Crafts</strong> <div class="horline red" style="top: 0px;"></div> {{ page.title }}</div>
        </div>
        <div class="row" style="min-height: 260px; margin: 0 -25px 0 3px!important;">
            <div class="col-md-6">
                <img src="{{ page.thumbnail }}" /><br />
            </div>
            <div class="col-md-6 text-left">
                <div class="vertline red" style="top: 0px;"></div>
                <h1>{{ page.title }}</h1>
                <div class="contentdiv">
                {{ content }}

                <p><a href="/crafts" class="back"><img src="/img/arrow-left.svg" /> Back</a></p>
                </div>
            </div>
        </div>

    </div>

    {% include footer.html %}
  </body>

</html>