<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body class="landing">
    {% include header.html %}

    <table cellpadding="0" cellspacing="0" style="width: 100%; height: 100%; position: absolute; top: 0;"><tr>
    		<td style="text-align: center; vertical-align: middle; width: 100%;">
    			<h1>{{ page.title }}</h1>
          <p style="margin-top: 10px; padding-bottom: 40px;"><a href="/about" aria-label="Next page" ><img src="/img/pijltje.svg" style="margin: 0 auto; height: 30px;" alt="Arrow right" /></a></p>
    		</td>
    </tr></table>

{% include foot.html %}

  </body>

</html>
