<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body class="post" id="top">
    {% include header.html %}

    <div class="container" id="post">
        <div class="row" style="margin: 0 -25px 0 3px!important;">
            <div class="col-md-12">
                <div class="text-center"><h1 style="margin-right: 20px;">{{ page.title }}</h1></div>
            </div>
        </div>            
        <div class="row" style="margin: 0 -25px 0 3px!important;">
            <div class="col-md-6 col-md-push-3 contentdiv">
                <br />
                {{ content }}

                
                <br />
                <div class="text-center"><a href="/blog/" class="btn btn-default">&larr; Back to blog</a></div>
            
            </div>
            <div class="col-md-3 col-md-pull-6 text-right workmargin" style="padding-top: 25px;">
                <div class="vertline category" style="top: 20px;"></div>
                <h3>Date</h3>
                <p>{{ page.date | date: "%d %b %Y" }}</p>
                <h3>Author</h3>
                <p>{{ page.author }}</p>
                <h3>Categories</h3>
                <p>{% for skill in page.skills %}{% if forloop.index0 != 0 %}<br />{% endif %}<a href="/blog/#{{ skill | replace: '/', '' }}">{{ skill | replace: '-', ' ' }}</a>{% endfor %}</p>
            </div>
            
        </div>

    </div>

    {% include footer.html %}
  </body>

</html>
