<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body class="who" id="top">

    {% include header.html %}

    <div class="segment" id="who">
    <div class="container">
        <div class="row">    		
            <div class="col-md-6 text-right">
                <div class="vertline red"></div>
    			<h2>Who</h2>
                <div class="editable contentdiv"><p>Two creative professionals. Two great friends. Two business partners. Two essential ingredients that, mixed together, turn out to be a recipe for success.<br />&ldquo;Let&rsquo;s team up!&rdquo; History was made in June of 2014, when these three words marked the founding of Robert Sas.</p><p>We are Robert and Max. Ever since that day in 2014, we&rsquo;ve been tirelessly absorbing everything the marketing field has to offer and putting our knowledge to work. Fueled by our mutual passion for storytelling, branding, marketing and design, we have turned our collaboration into a thriving business. That means we get your passion, your drive and determination. We use our skills and expertise to get you exactly where you need to be.&nbsp;</p><p><a href="/contact/">We are Robert Sas</a>.</p></div>
    		</div>
            <div class="col-md-6">
    			<img src="//images.weserv.nl/?url=supremebeing.amsterdam{{ page.images[0].image }}&w=900" class="down" />
    	    </div>
    	</div>
    </div>
    </div>
    <div class="segment darker" id="what">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-push-6 text-left">
                <div class="vertline"></div>
                <h2 class="red">What</h2>
                <div class="editable contentdiv"><p>Marketing at its best: telling a story that tickles the senses. Something that triggers all experiences and sensations one could perceive. That&rsquo;s the power of Robert Sas.</p><p>With our shared madness for marketing, branding and design, and a large network of like-minded creative geniuses, there&rsquo;s nothing we can&rsquo;t do.</p><p>Want to know what we&rsquo;re talking about? Check out <a href="/work/">our portfolio </a>for our most recent work.</p></div>
                <div class="abs_holder">
                    <div class="vertline red horizontal"></div>
                    <div class="text-center"><br /><a href="/crafts/" class="small"><span>Look at all the craftmanship<br />we can offer you</span><br />
                    <img src="/img/arrow-right.svg" style="width: 30px;" /><img src="/img/arrow-right-red.svg" style="width: 30px; opacity: 0;" /></a></div>
                </div>
                <br /><br /><br /><br /><br /><br />
            </div>
            <div class="col-md-6 col-md-pull-6">
                <img src="//images.weserv.nl/?url=supremebeing.amsterdam{{ page.images[1].image }}&w=900" class="down" />
            </div>
        </div>
    </div>
    </div>
    <div class="segment" id="why">
    <div class="container">
        <div class="row">            
            <div class="col-md-6 text-right">
                <div class="vertline red"></div>
                <h2>Why</h2>
                <div class="editable contentdiv"><p>The world of marketing never stops evolving.&nbsp; It&rsquo;s a business where new opportunities arise every day. Great ones. You just have to know where to look. Finding these opportunities and coming up with creative ideas is what drives us to create marketing strategies that inspire. Strategies that bring out the best of your company. Strategies that work. Because, let&rsquo;s be honest: Doing business without having a flawless marketing strategy is like winking at a beautiful girl in the dark. You know what you are doing, but nobody else does. That&rsquo;s why.</p></div>
    		</div>
            <div class="col-md-6">
    			<img src="//images.weserv.nl/?url=supremebeing.amsterdam{{ page.images[2].image }}&w=900" class="up" />
    	    </div>
        </div>
    </div>
    </div>
    {% include footer.html %}
  </body>

</html>
